.header {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    width: 1163px;
    text-align: center;
    margin: auto;
    margin-top: 28px;
    align-items: center;
    margin-bottom: 100px;
}

.logo_link {}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: #95E1D3;
}

.menu {}

.menu_list {
    width: 500px;
    display: flex;
    justify-content: space-between;
    
}

.menu_list_item {
    
}


.list_item_link {
    text-transform: uppercase;
    color: #95E1D3;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 4px solid transparent;
}
 .list_item_link:hover {
    color: #F38181;
    padding-bottom: 11px;
    border-bottom: 4px solid #F38181;
}

