.header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    margin: auto;
    padding-top: 28px;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 100px;
    position: fixed;
    background-color: #fff;

}


.logo {
    font-size: 30px;
    font-weight: 700;
    color: #95E1D3;
}


.menu_list {
    width: 500px;
    display: flex;
    justify-content: space-between;
    
}


.list_item_link {
    text-transform: uppercase;
    color: #95E1D3;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 4px solid transparent;
    position: relative;
}
 .list_item_link:hover {
    color: #F38181;
    padding-bottom: 11px;
    

}


.submenu_item {
    font-size: 12px;
    color: #999999;
    text-transform: uppercase;
    font-weight: 400;
    background-color: ivory;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
    margin-top: 5px;
}

.submenu_item:hover {
    color: #F38181;
    cursor: pointer;
}

.submenu {
    position: absolute;
    display: none;
}



.menu_list_item {
    display: inline-block;
}

.menu_list_item:hover > .submenu {
    display: block;
}